<header class="head">
    <div class="container">
        <div class="header">
            <div class="header__logo">
                <img 
                    src="./images/logo-1.png"
                    srcset="./images/logo-1@2x.png 2x"
                    alt="Logo IceCream"
                    width="199"
                    height="50"/>
            </div>
            <div class="header__burger" type="button" data-mobile-open></div>
            <div class="header__background--circle"></div>

            <nav class="header__nav">
                <a class="header__nav-link--home" href="#home">Home</a>
                <a class="header__nav-link" href="#about-us">About us</a>
                <a class="header__nav-link" href="#how-it's-made">How it's made?</a>
                <a class="header__nav-link" href="#our-products">Our products</a>
                <a class="header__nav-link" href="#contact">Contact</a>
            </nav>
            <button class="header__button-buy" type="button">
                Buy now<div class="header__button-buy-icon"></div>
            </button>

            
            <div class="header__photo--icecream">
                <img src="./images/header-icecream.png"
                     srcset="./images/header-icecream@2x.png 2x"
                     alt="icecream" 
                     width="171" 
                     height="410" />
            </div>
            <h1 class="header__title">
                ice cream<br>made with<br><span class="header__title--passion">passion</span>
            </h1>
            <button class="header__button-products" type="button">
                <a class="header__button-products--text" href="#products">Products</a>
            </button>
            <button class="header__button-how" type="button">
                <a class="header__button-how--text" href="#how-it's-made">How it's made?</a>
            </button>
            <div class="header__photo--bio-eco">
                <img src="./images/bio-eco.png"
                     srcset="./images/bio-eco@2x.png 2x" 
                     alt="bio eco" 
                     width="124" 
                     height="126"/>
            </div>
            <div class="header__bio-eco">
                <div class="header__bio-eco--text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </div>
                <div class="header__bio-eco--icon">
                    <img src="./images/arrow-right-header.png"
                         alt="arrow" 
                         width="18" 
                         height="18">
                </div>
            </div>
            <div class="header__numbers header__numbers--1">
                <div class="header__numbers--circle"></div>
                <div class="header__numbers-data">16</div>
                <div class="header__numbers-place">cafes</div>
            </div>
            <div class="header__numbers header__numbers--2">
                <div class="header__numbers--circle"></div>
                <div class="header__numbers-data">23</div>
                <div class="header__numbers-place">food trucks</div>
            </div>
            <div class="header__photo--soo-tasty">
                <img src="./images/soo-tasty.png"
                     src="./images/soo-tasty@2x.png 2x" 
                     alt="girl with ice cream and text soo-tasty" 
                     width="168" 
                     height="133"/>
            </div>
        </div>
    </div>
    <div class="mobile-menu disactive" data-mobile>
        <div class="mobile-menu__close" data-mobile-close></div>
        <button class="mobile-menu__button" type="button">
            Buy now<div class="mobile-menu__button-icon"></div>
        </button>
        <nav class="mobile-menu__nav">
            <a class="mobile-menu__nav-link--home" href="#home">Home</a>
            <a class="mobile-menu__nav-link" href="#about-us">About us</a>
            <a class="mobile-menu__nav-link" href="#how-it's-made">How it's made?</a>
            <a class="mobile-menu__nav-link" href="#our-products">Our products</a>
            <a class="mobile-menu__nav-link" href="#contact">Contact</a>
        </nav>
    </div>
</header>
<script src="./js/mobile-menu.js"></script>