<section class="reviews container" id="about-us">
  <ul class="reviews__photos-list">
    <li>
      <img
        class="reviews__photo reviews__photo--current"
        src="./images/review-osoba1.jpg"
        srcset="./images/review-osoba1@2x.jpg 2x"
        srcset="./images/review-osoba1@3x.jpg 3x"
        alt="Uśmiechnięta kobieta"
        width="85"
        height="85"
      />
    </li>
    <li>
      <img
        class="reviews__photo"
        src="./images/review-osoba2.jpg"
        srcset="./images/review-osoba2@2x.jpg 2x"
        srcset="./images/review-osoba2@3x.jpg 3x"
        alt="Uśmiechnięta kobieta"
        width="85"
        height="85"
      />
    </li>
    <li>
      <img
        class="reviews__photo"
        src="./images/review-osoba3.jpg"
        srcset="./images/review-osoba3@2x.jpg 2x"
        srcset="./images/review-osoba3@3x.jpg 3x"
        alt="Uśmiechnięta kobieta"
        width="85"
        height="85"
      />
    </li>
  </ul>
  <div class="reviews__quote">
    <div class="reviews__quote-background"></div>
    <p class="reviews__quote-text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
    <pre class="reviews__quote-text-mobile">
Nullam viverra
consectetuer. Quisque
cursus et, porttitor risus.
Aliquam sem. In hendrerit
nulla quam nunc,
accumsan congue. Lorem
ipsum primis in nibh vel
risus.</pre
    >
  </div>
  <p class="reviews__who">Emily, Los Angeles</p>
  <ul class="reviews__pagination">
    <li class="reviews__home-icon reviews__current-icon">
      <svg width="12.4" height="12">
        <use href="./images/icons.svg#icon-domek"></use>
      </svg>
    </li>
    <li class="reviews__dot-icon">
      <svg width="12" height="12">
        <use href="./images/icons.svg#icon-dot"></use>
      </svg>
    </li>
    <li class="reviews__dot-icon">
      <svg width="12" height="12">
        <use href="./images/icons.svg#icon-dot"></use>
      </svg>
    </li>
  </ul>
</section>
